<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get_Persons</title> 
</head>

<body>
<form>
   <h2>Информация о пользователе:</h2>
   <p>Peson_ID: {{ .Id}}</p>
   <p>Peson_Email:  {{ .Email}}</p>
   <p>Peson_Phone:  {{ .Phone}}</p>
   <p>Peson_FirstName:  {{ .FirstName}}</p>
   <p>Peson_LastName:  {{ .LastName}}</p>
    </form>
</body>
</html>