<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <div style="padding: 100px;" align="center" >
    <h2>Главная страница</h2>
    <button onclick="location.href='/GetAllInfo'" >Вывести всех пользователей</button><br>
    <button style="margin-top: 10px;" onclick="location.href='/Add'">Добавить нового пользователя</button><br> 
    <button style="margin-top: 10px;" onclick="location.href='/Delete_By_Id'">Удалить пользователя</button><br>
    <button style="margin-top: 10px;" onclick="location.href='/Get_By_Id'">Выбрать пользователя по ID</button><br>
    <button style="margin-top: 10px; margin-bottom: 10px;" onclick="location.href='/Update_By_Id'">Редактировать запись пользователя</button><br>
</div>
</body>
</html>